* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

#app {
    display: flex;
    justify-self: center;
    align-self: center;
}

nav {
    position: fixed;
    max-height: 12.2rem;
    padding: 3rem 6.2rem;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.3rem;
}

nav ul li a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.2rem;

    color: #C4C4CC;
}

nav ul li a:focus {
    font-weight: 700;
    color: #FFFFFF;
}

nav ul li a:hover {
    font-weight: 700;
    color: #FFFFFF;
}