body {
  background-image: url(../images/mountains-universe02.png);
  background-repeat: round;
  background-size: cover;
  
  min-height: 100vh;
  display: grid;
  
}

#o-universo {
  flex-direction: column;
  display: flex;
  gap: 2.4rem;
  width: 90rem;
  position: absolute;
  left: 6.2rem;
  top: 18.5rem;
}


h1 {
  font-weight: 700;
  font-size: 4.2rem;
  font-style: normal;
  line-height: 125%;

  color: #E1E1E6;
}

p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 160%;

  color: #E1E1E6;
}